@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Arabic:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --color-soft-blush: #FFE4E1;
    --color-warm-ivory: #FFFAF0;
    --color-dusty-rose: #C96567;
    --color-soft-gold: #D4AF37;
  
    /* Accent Colors */
    --color-light-taupe: #9F8170;
    --color-warm-gray: #D3D3D3;
  
    /* Text Colors */
    --text-primary: var(--color-light-taupe);
    --text-heading: var(--color-dusty-rose);
    --text-subheading: var(--color-soft-gold);
  
    /* Background Colors */
    --bg-primary: var(--color-warm-ivory);
    --bg-secondary: var(--color-warm-gray);
  
    /* Button Colors */
    --btn-bg: var(--color-soft-blush);
    --btn-text: #5D4037;
    --btn-hover: var(--color-soft-gold);

    /* =========== */
    --font-amiri: "Amiri", serif;
    --font-noto: "Noto Sans Arabic", sans-serif;
  }
  
  /* Example Usage */
body {
    background-color: var(--bg-primary);
    overflow-x: hidden;
}
  
h1 {
    color: var(--text-heading);
}
  
.button {
    display: inline-block;
    background-color: var(--color-warm-ivory);
    color: var(--btn-text);
    border: none;
    outline: none;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    transition: 0.3s;
    cursor: pointer;
    font-family: var(--font-noto);
    margin-top: 1rem;
}
  
.button:hover {
    background-color: var(--btn-hover);
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

@media (min-width: 64em) {
    .container {
        margin-inline: auto;
    }
}

.section {
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: var(--color-dusty-rose);
}

.section-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

@media (min-width: 40em) {
    .section-title {
        font-size: 2rem;
        margin-bottom: 1.75rem;
    }
}
@media (min-width: 64em) {
    .section-title {
        font-size: 3rem;
        margin-bottom: 2.75rem;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: "Amiri", serif;
    font-weight: 700;
    line-height: 1.2;
}
p {
    font-family: "Noto Sans Arabic", sans-serif;
    line-height: 1.5;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-dusty-rose);
}

.main {
    position: relative;
    top: 4.875rem;
}

/* =========================== */
.header {
    position: fixed;
    background-color: var(--bg-primary);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.3s;
}

.show-shadow {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.6875rem;
}

@media (max-width: 64em) {
    .menu-container {
        position: fixed;
        left: 0;
        top: -100%;
        padding-block: 3rem;
        width: 100%;
        transition: 0.5s;
        background-color: var(--color-soft-blush);
    }
    
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}


.menu li a {
    position: relative;
    padding: .25rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-light-taupe);
    transition: 0.3s;
    &:hover {
        color: var(--color-dusty-rose);
        &::after {
            width: 100%;
        }
    }
    &.active {
        color: var(--color-dusty-rose);
        &::after {
            width: 100%;
        }
    }
    &::after {
        content: '';
        position: absolute;
        background-color: var(--color-dusty-rose);
        height: 3px;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: -0.75rem;
        transition: 0.3s;
    }
}

.open-btn,
.close-btn {
    cursor: pointer;
    font-size: 1.5rem;
}

.close-btn {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

@media (min-width: 64em) {
    .menu {
        flex-direction: row;
    }
    .open-btn,
    .close-btn {
        display: none;
    }
}

.show {
    top: 0;
}

/* ============ HERO ============ */

.hero {
    background-color: var(--color-soft-blush);
    padding-bottom: 0;
}

.hero-container {
    display: grid;
    justify-content: center;
    gap: 2rem 4rem;
    padding-top: 5rem;
    position: relative;
}

.hero-image {
    justify-self: center;
    position: relative;
    bottom: -4px;
}

.hero-image img {
    width: 21.875rem;
    filter: drop-shadow(17px -1px 21px rgba(0, 0, 0, 0.4))
}

.hero .intro {
    text-align: center;
}

.hero h1 {
    color: var(--color-dusty-rose);
    font-size: 2.25rem;
    margin-bottom: .75rem;
}

@media (min-width: 64em) {
    .hero {
        margin: 0 1.5rem;
        border-radius: 2rem;
        height: 60vh;
    }
    .hero-container {
        grid-template-columns: 28.125rem 1fr;
        padding-inline: 2rem;
        height: 100%;
    }
    .hero .intro {
        padding-top: 1rem;
        text-align: right;
    }
    .hero-image {
        position: absolute;
        bottom: 0;
        left: -1.875rem;
    }

    .hero-image img {
        width: 35.5rem;
    }
}

/* =========== FEATURES =========== */
.features {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.features-container {
    display: grid;
    grid-template-columns: 18.75rem;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 40em) {
    .features-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
@media (min-width: 40em) {
    .features-container {
        column-gap: 2rem;
    }
}

.features .card {
    background-color: var(--color-soft-blush);
    padding: .5rem .5rem 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(159, 129, 112, 0.1);
}

.features .card:hover img {
    transform: scale(1.1);
    filter: brightness(105%);
}

.features .card:nth-child(1) {
    background-color: #a5ffa57d;
    /* background-image: url('images/therapy.jpg'); */
    transition: 0.3s;
}
.features .card:nth-child(2) {
    background-color: #ffffb1cf;
}
.features .card:nth-child(3) {
    background-color: #ffc9659c;
}

@media (min-width: 64em) {
    .features .card {
        padding: 1rem 1rem 3.25rem;
    }
}

.features .card .image {
    overflow: hidden;
    border-radius: .75rem;
    max-height: 76%;
    margin-bottom: 1.5rem;
}

.features .card img {
    border-radius: .75rem;
    object-fit: cover;
    transition: 0.3s;
    max-height: 100%;
}

.features .card h3 {
    color: var(--btn-text);
    margin-bottom: .75rem;
}


.features .card p {
    color: var(--color-light-taupe);
}
/* ============= about ============== */
.about {
    background-color: var(--color-dusty-rose);
    margin-top: 3rem;
}

.about-container {
    position: relative;
    display: grid;
    padding-top: 10rem;
}
.about-container .about-text {
    text-align: center;
    padding: 1rem;
    padding-right: 1.5rem;
    background-color: var(--color-soft-blush);
    color: #5D4037;
    position: absolute;
    top: -7rem;
}

.about-container .about-image {
    transform: translateY(5.625rem);
}


@media (min-width: 40em) {
    .about-container {
        padding-top: 2rem;
    }
    .about-container .about-image {
        transform: translateY(7.375rem);
    }
}
@media (min-width: 64em) {
    .about-container {
        grid-template-columns: 583px 500px;
    }
    .about-container .about-image {
        transform: translateY(6.25rem);
    }
    .about-container .about-text {
        position: relative;
        right: -117px;
        top: -159px;
        text-align: right;
    }
    .about-container .about-text p {
        padding-inline: 1.5rem;
        margin-top: 4rem;
    }
}

/* ============= popular =========== */
.popular {
    background-color: var(--bg-primary);
}

.popular-container {
    display: grid;
    gap: 2rem .75rem;
}

@media (min-width: 40em) {
    .popular-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 64em) {
    .popular-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.popular-container .service {
    background-color: var(--color-light-taupe);
    padding: 1rem;
}


.popular-container .service .service-title {
    color: #fff;
    padding-top: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
}


.popular-container .service .service-description {
    margin-block: .75rem;
    color: var(--color-warm-ivory);
}

.popular-container .service .service-price {
    color: #000;
    font-family: var(--font-amiri);
    font-size: 1.5rem;
    font-weight: 700;
}

.popular-container .service a {
    display: inline-block;
    color: #fff;
    padding-top: .5rem;
    font-weight: 500;
    transition: 0.3s;
    &:hover {
        color: #444;
    }
    &:hover i {
        animation: move 0.5s backwards infinite ease-in-out;
    }
}

@keyframes move {
    from {
        padding-right: 0;
    }
    to {
        padding-right: 5px;
    }
}

/* ============== services =============== */
.services {
    background-color: var(--color-soft-blush);
}

.services-container {
    text-align: right;
}

.services-container .service-title {
    color: var(--title-color);
    margin-bottom: 1.5rem;
    font-family: var(--font-amiri);
}

.services-container .row:not(:last-child) {
    margin-bottom: 3rem;
}

.services-container .row-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.5rem 1.5rem;
}

@media (min-width: 64em) {
    .services-container .row-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.services-container .card {
    padding-inline: .5rem;
    background-color: var(--color-warm-ivory);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    border: 1px solid var(--color-dusty-rose);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.4);
    }
}

.services-container .card .card-title {
    margin-bottom: .5rem;
    color: var(--btn-text);
    font-family: var(--font-noto);
}

/* ============ devices ============= */

.devices-container {
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    gap: 1.5rem 2rem;
}

@media (min-width: 40em) {
    .devices-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 64em) {
    .devices-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.devices-container .card {
    background-color: var(--color-soft-blush);
    padding: 2rem 1.5rem;
}

.devices-container .card-title {
    text-align: center;
    font-weight: 700;
    color: var(--color-soft-gold);
    font-size: 1.25rem;
    font-weight: 600;
}

.devices-container .description {
    margin-block: 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--color-light-taupe);
}

.devices-container .card a {
    color: var(--btn-text);
}

.devices .more {
    display: block;
    margin-top: 2rem;
    text-align: center;
}

.devices .more a {
    padding: .5rem .25rem;
    background-color: var(--container-color);
    color: var(--color-soft-gold);
    font-size: 1.5rem;
}
/* =========== footer =========== */
.footer {
    background-color: var(--color-dusty-rose);
    direction: ltr;
    text-align: center;
}
@media (min-width: 40em) {
    .footer {
        text-align: right;
    }
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-block: 4rem;
    justify-content: center;
}

.footer-container .col {
    margin-bottom: 1.5rem;
}

.footer-social {
    margin-block: 1rem;
    padding-right: 2rem;
}

.footer-social a {
    font-size: 2rem;
    color: var(--btn-text);
    transition: 0.3s;
    &:hover {
        color: var(--color-soft-gold);
    }
}

.footer-container .col:last-child {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.footer-container .col:last-child a {
    color: #000;
    font-family: var(--font-noto);
    font-size: 1.2rem;
    transition: 0.3s;
    &:hover {
        padding-right: 4px;
    }
}

.footer-container .logo {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.footer-container p {
    font-size: 1.24rem;
    font-family: var(--font-noto);
}

.footer .location {
    font-family: var(--font-noto);
    line-height: 1.5;
    margin-bottom: .75rem;
}
.footer .hours {
    font-family: var(--font-noto);
    line-height: 1.5;
    margin-bottom: .75rem;
}

.footer-img {
    width: 75px;
    height: 80px;
    border: 4px solid var(--color-soft-blush);
}


/* ============== services page ============= */
.hero {
    background-image: url('/images/top-view-healthy-life-written-notepad-round-platter-cut-vegetables-white-surface.jpg');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    width: 100%;
    border-radius: initial;
    margin: 0;
}
.hero .services-hero {
}